:host {
  display: block;
  height: 100vh;
  width: 100%;
  background-image: url(../../../../assets/home-kratos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-story {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  color: black;
  background-color: #fff;
  top: 100vh;
  height: auto;
  justify-content: center;
}

.title {
  width: 70%;
  color: black;
  overflow: hidden;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media (max-width: 620px) {
  .title {
    width: 85%;
  }

  .title h1 {
    font-size: larger;
    padding-bottom: 10px;
  }

  .title h3 {
    font-size: medium;
    padding-bottom: 10px;
  }

  .title p {
    font-size: small;
  }

  .container div img {
    max-height: 200px;
    max-width: 200px;
  }

  .infinit-scroll p {
    font-size: smaller;
  }
}

.infinit-scroll {
  width: 55%;
  padding-top: 20px;
  font-size: larger;


}

.container {
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  height: 300px;
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding-bottom: 10px;
}

.container div img {
  height: 300px;
  width: 300px;
  margin-left: 100px;
  animation: slide 15s linear infinite;
  border-radius: 10px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1500px, 0, 0);
    /* The image width */
  }
}
