.component {
  padding: 200px 100px 100px;
  display: flex;
  min-height: 90vh;
  justify-content: center;
  min-width: 100%;
  background-image: url(../../../../assets/home-kratos.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.header-game {
  padding: 0 0 2em 0;
  margin-top: 30em;
  width: 100%;
  z-index: 1;
  background: white;
  color: black;
  /*   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 3px 9px rgba(0, 0, 0, 0.22); */
  display: flex;
  justify-content: space-around;


  &__text {
    padding-top: 2em;
    width: 50%;
    text-align: left;

    h1 {

      font-weight: lighter;
      padding-bottom: 2em;
    }

    h3 {
      font-weight: lighter;
    }

  }

  .home-section {
    display: flex;
    background: rgb(226, 226, 226);
  }

}

@media (max-width: 580px) {

  .header-game {
    font-size: smaller;
    width: 100%;
    padding: 0 0 2em 0;
    h1 {
      font-size: large;
    }
    h3 {

      font-weight:normal;
      padding: 0 0 1em 0;
    }
  }
}
