<div class="banner"> 
    <div class="content">
      <h2>BEM VINDO A GAME LOVE</h2>
      <h3>Fiz essa aplicação com o intuito de testar minhas habilidades Front-end. Comecei com o básico, é claro, a cada dia aprendia uma coisa nova... Hoje acredito
        ser minha ultima edição, relizei todo tipo de mudança... sai do @input/@output, começei usar service e Json... fiz lazyLoading, implementei Behavior subject 
        e algumas dependências extras.
        Hoje entrei e deixei o Header responsivo.
        Pode ser que outra hora eu entre e edite mais alguma coisa. Fique avontade para ver minha obra baseado naquilo que eu amo de hobbie. 
        Jogar video games... para ver meus jogos favoritos clique no bptão abaixo!
      </h3>
        <a routerLink="/favGames">Veja meus games favoritos</a>
    </div>
<!--      <img src="../../../../assets/controller.gif" class="image">
  --> </div>