<main class="component">
  <header class="header-game">
    <div class="header-game__text">
      <h1>Bem vindo(a)!</h1>
      <h3>Fiz esta aplicação destinada a jogos que gosto entre outros disponíveis no site da Playstation store.</h3>
      <p>Minha paixão por video games se inicou em 2004 quando meu então padastro adquiriu um Playstation 1.
        Eu amava aquele console e 1 ano depois ele me presenteou com ele e então se iniciava toda uma relação de amor
        entre a Playstation e
        Isaac Brian.
        Com o tempo meu padrastro adquiriu o Playstation 2, depois o Playstation 3 e eu fui me relacionando ainda mais
        com essa tecnologia maravilhosa e divertda.
        Em 2018, comprei meu primeiro videogame no qual tenho até hoje, Playstation 4. Atualmente temos o Playstation 5
        no mercado, mas a minha relação com o
        Playstation 4 ainda durará bastante tempo.
      </p>
    </div>
    <div class="header-game__btn">

    </div>
  </header>
  <section class="home-section">
  </section>
</main>
