<p-toast> </p-toast>

<section class="main">


  <div class="main__message">
    <h1>Adcionar novos jogos</h1>
  </div>
  <form class="main__form" novalidate [formGroup]="form">

    <span class="p-float-label">
      <label for="url">Url Image:</label>
      <input id="float-input" type="text" id="url" formControlName="url" pInputText>
    </span>

    <span class="p-float-label">
      <label for="name">Name:</label>
      <input id="float-input" type="text" id="name" formControlName="name" pInputText>
    </span>

    <span class="p-float-label">
      <label for="cover">Cover:</label>
      <input id="float-input" type="text" id="cover" formControlName="cover" pInputText>
    </span>

    <span class="p-float-label">
      <label for="descricao">Descrição:</label>
      <input id="float-input" type="text" id="descricao" formControlName="descricao" pInputText>
    </span>

    <span class="p-float-label">
      <label for="plataforma">Plataforma:</label>
      <input id="float-input" type="text" id="plataforma" pInputText formControlName="plataforma">
    </span>

    <span class="p-float-label">
      <label for="float-input" for="val3">Avaliação:</label>
      <input id="p-input" type="number" pInputText id="val3" placeholder="Nota" formControlName="val3">
    </span>
    <div class="main__form__btn">
      <button pButton pRipple type="button" label="Salvar" class="p-button-raised p-button-primary"
        (click)="onSubmit()"></button>
      <button pButton pRipple type="button" label="Cancelar" (click)="onCancel()"
        class="p-button-raised p-button-danger"></button>
    </div>
  </form>
</section>
