* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-around;
  color: black;
  padding: 1em;
  height: 100vh;

  &__image {
    width: 120%;


    img {
      width: 100%;
      height: auto;
    }
  }
}
