.h{
    background-color: black;
    height: 60px;
    

    &__options{
        display: flex;
        justify-content: space-around;
        line-height: 60px;
        
        &__list a{
            color: aliceblue;
            text-decoration: none;
        }
        &__list a:hover{
            background-color: white;
            color: black;
        }
        &__list .activated{
            background-color: white;
            color: black;
        }
     }

}