<header class="header">
  <ul class="header__brand">
    <h1>Isaac Santos</h1>
  </ul>
</header>

  <header class="subHeader">
    <li class="subHeader__options__list"> <a routerLink="/home" routerLinkActive="activated">Home</a></li>
    <li class="subHeader__options__list"> <a routerLink="/games" routerLinkActive="activated">Games</a></li>
    <li class="subHeader__options__list"> <a routerLink="/favGames" routerLinkActive="activated">Favoritos</a></li>
    <li class="subHeader__options__list"> <a href="https://www.linkedin.com/in/isaac-brian-da-silva-8836ab19b/"
      target="https://www.linkedin.com/in/isaac-brian-da-silva-8836ab19b/">About Me</a></li>
    </header>
<router-outlet></router-outlet>
<app-load-animate></app-load-animate>
