<header class="h">
  <ul class="h__options">
    <li class="h__options__list"> <a routerLink="/home" routerLinkActive="activated">Home</a></li>
    <li class="h__options__list"> <a routerLink="/games" routerLinkActive="activated">Games</a></li>
    <li class="h__options__list"> <a routerLink="/favGames" routerLinkActive="activated">Favoritos</a></li>
    <li class="h__options__list"> <a href="https://www.linkedin.com/in/isaac-brian-da-silva-8836ab19b/"
        target="https://www.linkedin.com/in/isaac-brian-da-silva-8836ab19b/">About Me</a></li>
  </ul>
</header>
<router-outlet></router-outlet>
<app-load-animate></app-load-animate>