
<p-toast></p-toast>
<div class="title">
  <h1>Meus Favoritos</h1>
</div>
<section class="main">
  
  <div class="main__card">
    <ul *ngFor="let favorito of favoritos">
      <li class="main__card__game">
        <img src="{{ favorito.url }}" alt="" />
        <h6>{{ favorito.name }}</h6>
        <p>{{ favorito.descricao }}</p>
        <h5>{{ favorito.plataforma }}</h5>
        <p-rating [ngModel]="favorito.val3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
        
        <div class="main__card__game__btn">
          <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-danger"
          (click)="confirm2(favorito)"
          > <i class="pi pi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
  
  
  
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>